@use "variable" as v;
@use "common" as c;
/*************************************************
お問い合わせページ
*************************************************/

.contact-page {
  .sec-contact {
    .contents_wrapper {
      .form_text {
        margin: 80px 0 50px;
        text-align: center;
        line-height: 2;
        @include c.mq(sm) {
          margin: 40px 0 30px;
          font-size: 1.4rem;
          text-align: left;
        }
        a {
          color: #dbcfc5;
          text-decoration-line: underline;
          text-decoration-style: solid;
          text-decoration-skip-ink: auto;
          text-decoration-thickness: 6.5%;
          text-underline-offset: 22.5%;
          text-underline-position: from-font;
          transition: all 0.3s;
          &:hover {
            opacity: 0.7;
          }
        }
      }
      #ContactForm {
        max-width: 800px;
        margin: 0 auto 200px;
        @include c.mq(sm) {
          margin: 0 auto 80px;
        }
        .field {
          margin: 0 0 50px;
          @include c.mq(sm) {
            margin: 0 0 20px;
          }
          .field__label {
            display: block;
            margin: 0 0 10px;
            font-size: 1.4rem;
            line-height: 2;
            letter-spacing: 0.03em;
          }
          .required {
            display: flex;
            align-items: center;
            gap: 10px;
            &::after {
              content: "必須";
              display: inline-block;
              padding: 1px 8px;
              background-color: #dbcfc5;
              color: v.$brown;
              font-size: 1.2rem;
            }
          }
          .field__input {
            display: block;
            border-radius: 2px;
            box-shadow: 0 0 0 1px #dbcfc5 inset;
            width: 100%;
            padding: 13px 20px;
            &:focus {
              box-shadow: 0 0 0 3px #dbcfc5 inset;
            }
          }
          .field__select {
            position: relative;
            &::before {
              content: "";
              position: absolute;
              top: 0;
              bottom: 0;
              margin: auto;
              right: 30px;
              width: 8px;
              height: 8px;
              border-top: 1px solid #dbcfc5;
              border-right: 1px solid #dbcfc5;
              transform: rotate(135deg);
              pointer-events: none;
            }
            select {
              display: block;
              border-radius: 2px;
              box-shadow: 0 0 0 1px #dbcfc5 inset;
              width: 100%;
              padding: 13px 20px;
              option {
                color: #000;
              }
              &::-ms-expand {
                display: none;
              }
              &:focus {
                box-shadow: 0 0 0 2px #dbcfc5 inset;
              }
            }
          }
          p {
            text-align: center;
            @include c.mq(sm) {
              text-align: left;
              font-size: 1.4rem;
            }
            a {
              color: #dbcfc5;
              text-decoration: underline;
              transition: all 0.3s;
              &:hover {
                opacity: 0.7;
              }
            }
          }
        }
        .contact__button {
          .button {
            display: block;
            margin: 0 auto;
            width: 57%;
            padding: 10px;
            border-radius: 9999px;
            background-color: #fff;
            color: v.$brown;
            font-size: 2rem;
            letter-spacing: 0.03em;
            text-align: center;
            transition: all 0.3s;
            @include c.mq(sm) {
              width: 280px;
              font-size: 1.8rem;
            }
            &:hover {
              transform: translate(0, 3px);
            }
            &:focus {
              box-shadow: 0 0 0 4px #013f89 inset;
            }
          }
        }
      }
    }
  }

  /*************************************************
  お問い合わせ　-送信後
  *************************************************/
  .form-success-title {
    font-size: 16px !important;
    font-weight: 600 !important;
    color: #428445 !important;
    margin-bottom: 4rem;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    @include c.mq(sm) {
      font-size: 14px !important;
      text-align: left !important;
    }
  }
  .form-success-title svg {
    width: 2rem;
    @include c.mq(sm) {
      width: 5rem;
    }
  }
  .form-error-title {
    font-size: 16px !important;
    font-weight: 600 !important;
    // color: v.$sub-color01 !important;
    margin-bottom: 1rem;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    @include c.mq(sm) {
      font-size: 14px !important;
    }
  }
  .form-error-title svg {
    width: 2rem;
  }
  .form-error-text {
    display: block;
    font-size: 16px !important;
    text-align: center;
    color: #dd0000;
    margin-bottom: 4rem;
    position: sticky;
    @include c.mq(sm) {
      font-size: 14px !important;
    }
  }
}
