<!-- BEGIN sections: footer-group -->
<footer class="footer">
  <div class="footer-inner">
    <div class="flex_wrap">
      <div class="logo_block">
        <a href="{{ routes.root_url }}">
          <img src="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/logo_ha_w.svg" alt="">
        </a>
      </div>
      <div class="link_block">
        <ul class="link_list">
          <li>
            <p>
              Brand
            </p>
          </li>
          {% for link in linklists.menu_brand.links %}
            <li>
              <p>
                <a href="{{ link.url }}">{{ link.title }}</a>
              </p>
            </li>
          {% endfor %}
        </ul>
        <ul class="link_list">
          <li>
            <p>
              <a href="/pages/shoplist/">Shop List</a>
            </p>
          </li>
          <li>
            <p>
              <a href="/blogs/news/">Topics</a>
            </p>
          </li>
        </ul>
        <ul class="link_list">
          <li>
            <p>
              Information
            </p>
          </li>
          <li>
            <a href="/pages/guide/">ご利用ガイド</a>
          </li>
          <!-- <li>
            <a href="gift.html">ギフトについて</a>
          </li> -->
          <li>
            <a href="/pages/faq/">よくあるご質問</a>
          </li>
          <li>
            <a href="/pages/contact-form/">お問い合わせ</a>
          </li>
        </ul>
        <ul class="link_list">
          <li>
            <p>
              Official Instagram
            </p>
          </li>
          <li>
            <a href="https://www.instagram.com/hyde_and_away/" target="_blank">Hyde&Away</a>
          </li>
          <li>
            <a href="https://www.instagram.com/bakeadorn/" target="_blank">BAKE ADORN</a>
          </li>
          <li>
            <a href="https://www.instagram.com/gelato_solbella/" target="_blank">gelato SOLBELLA</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="bottom_block">
      <div class="flex_wrap">
        <ul class="bottom_link_list">
          <li>
            <a href="/pages/company/">会社概要</a>
          </li>
          <li>
            <a href="/pages/legal/">特定商取引法に基づく表記</a>
          </li>
          <li>
            <a href="/pages/policy/">プライバシーポリシー</a>
          </li>
        </ul>
        <div class="copyright">
          <small>&copy; 2025 ZOOOM TRANSPORT Inc. All rights reserved.</small>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- END sections: footer-group -->