<!-- BEGIN sections: footer-group -->
<footer class="footer">
  <div class="footer-inner">
    <div class="flex_wrap">
      <div class="logo_block">
        <a href="{{ routes.root_url }}">
          <img src="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/logo_ha_w.svg" alt="">
        </a>
      </div>
      <div class="link_block">
        <ul class="link_list">
          <li>
            <p>
              Brand
            </p>
          </li>
          <li>
            <a href="hyde-and-away.html">Hyde&Away</a>
          </li>
          <li>
            <a href="bake-adorn.html">BAKE ADORN</a>
          </li>
          <li>
            <a href="gelato-solbella.html">gelato SOLBELLA</a>
          </li>
        </ul>
        <ul class="link_list">
          <li>
            <p>
              <a href="shop-list.html">Shop List</a>
            </p>
          </li>
          <li>
            <p>
              <a href="topics.html">Topics</a>
            </p>
          </li>
        </ul>
        <ul class="link_list">
          <li>
            <p>
              Information
            </p>
          </li>
          <li>
            <a href="guide.html">ご利用ガイド</a>
          </li>
          <!-- <li>
            <a href="gift.html">ギフトについて</a>
          </li> -->
          <li>
            <a href="faq.html">よくあるご質問</a>
          </li>
          <li>
            <a href="contact.html">お問い合わせ</a>
          </li>
        </ul>
        <ul class="link_list">
          <li>
            <p>
              Official Instagram
            </p>
          </li>
          <li>
            <a href="https://www.instagram.com/hyde_and_away/" target="_blank">Hyde&Away</a>
          </li>
          <li>
            <a href="https://www.instagram.com/bakeadorn/" target="_blank">BAKE ADORN</a>
          </li>
          <li>
            <a href="https://www.instagram.com/gelato_solbella/" target="_blank">gelato SOLBELLA</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="bottom_block">
      <div class="flex_wrap">
        <ul class="bottom_link_list">
          <li>
            <a href="company.html">会社概要</a>
          </li>
          <li>
            <a href="legal.html">特定商取引法に基づく表記</a>
          </li>
          <li>
            <a href="privacy-policy.html">プライバシーポリシー</a>
          </li>
        </ul>
        <div class="copyright">
          <small>&copy; 2025 ZOOOM TRANSPORT Inc. All rights reserved.</small>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- END sections: footer-group -->