<header class="header" id="js-header">
  <div class="header_inner">
    <!-- navi part -->
    <nav class="g_nav">
      <ul class="nav_link_list">
        <li class="has_dropdown">
          <p class="nav_ttl">
            <a href="index.html#sec-brand" class="js-anchor">Brand</a>
          </p>
          <div class="submenu_wrap">
            <div class="submenu big_menu">
              <div class="big_menu_inner">
                <ul>
                  <li>
                    <a href="/pages/hydeandaway/">
                      <figure>
                        <img src="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/top_brand_img_sp_ha.jpg" alt="Hyde&Away">
                      </figure>
                      <p>Hyde&Away</p>
                    </a>
                  </li>
                  <li>
                    <a href="bake-adorn.html">
                      <figure>
                        <img src="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/top_brand_img_sp_ba.jpg" alt="BAKE ADORN">
                      </figure>
                      <p>BAKE ADORN</p>
                    </a>
                  </li>
                  <li>
                    <a href="gelato-solbella.html">
                      <figure>
                        <img src="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/top_brand_img_sp_sol.jpg" alt="gelato SOLBELLA">
                      </figure>
                      <p>gelato SOLBELLA</p>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <a href="shop-list.html">Shop List</a>
        </li>
        <li>
          <a href="topics.html">Topics</a>
        </li>
        <li class="has_dropdown mini_dropdown">
          <div class="mega_menu_wrap">
            <p class="nav_ttl">Information</p>
            <div class="submenu_wrap">
              <div class="submenu mini_menu">
                <ul class="under_link_list">
                  <li><a href="guide.html">ご利用ガイド</a></li>
                  <!-- <li><a href="gift.html">ギフトについて</a></li> -->
                  <li><a href="faq.html">よくあるご質問</a></li>
                  <li><a href="contact.html">お問い合わせ</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </nav>
    <nav class="sp-gNav" id="js-nav">
      <ul class="nav_link_list">
        <li class="has_dropdown">
          <p class="nav_ttl">
            <a href="index.html#sec-brand" class="nav_item_link">
              Brand
              <span class="ja">ブランド一覧</span>
            </a>
          </p>
          <div class="big_menu">
            <div class="big_menu_inner">
              <ul>
                <li>
                  <a href="/pages/hydeandaway/" class="nav_item_link">
                    <figure>
                      <img src="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/top_brand_img_sp_ha.jpg" alt="Hyde&Away">
                    </figure>
                    <p>Hyde&Away</p>
                  </a>
                </li>
                <li>
                  <a href="bake-adorn.html" class="nav_item_link">
                    <figure>
                      <img src="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/top_brand_img_sp_ba.jpg" alt="BAKE ADORN">
                    </figure>
                    <p>BAKE ADORN</p>
                  </a>
                </li>
                <li>
                  <a href="gelato-solbella.html" class="nav_item_link">
                    <figure>
                      <img src="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/top_brand_img_sp_sol.jpg" alt="gelato SOLBELLA">
                    </figure>
                    <p>gelato SOLBELLA</p>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <a href="shop-list.html" class="nav_item_link">
            Shop List
            <span class="ja">店舗一覧</span>
          </a>
        </li>
        <li>
          <a href="topics.html" class="nav_item_link">
            Topics
            <span class="ja">最新情報</span>
          </a>
        </li>
        <li class="has_dropdown mini_dropdown">
          <div class="mega_menu_wrap">
            <p class="nav_ttl">
              Information
              <span class="ja">インフォメーション</span>
            </p>
            <div class="mini_menu">
              <ul>
                <li><a href="guide.html" class="nav_item_link">ご利用ガイド</a></li>
                <!-- <li><a href="gift.html" class="nav_item_link">ギフトについて</a></li> -->
                <li><a href="faq.html" class="nav_item_link">よくあるご質問</a></li>
                <li><a href="contact.html" class="nav_item_link">お問い合わせ</a></li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </nav>
    <button class="toggle_button toggle_anime" id="js-hamburger">
      <span class="toggle_line"></span>
      <span class="toggle_line"></span>
    </button>
    <!-- logo part -->
    <h1 class="header_logo">
      <a href="{{ routes.root_url }}">
        <img src="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/logo_ha_w.svg" alt="Hyde&Awayロゴ">
      </a>
    </h1>
    <!-- account & cart btn part -->
    <div class="header_btn_area">
      <div class="btn_wrap account_btn">
        <a href="#">
          <span class="icon">
            <img src="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/icon_account.svg" alt="">
          </span>
          <span class="btn_name">Login</span>
        </a>
      </div>
      <div class="btn_wrap cart_btn">
        <a href="#">
          <span class="icon">
            <img src="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/icon_cart.svg" alt="">
          </span>
          <span class="btn_name">Cart</span>
        </a>
      </div>
    </div>
  </div>
</header>
<!-- END sections: header-group -->