<!-- BEGIN sections: page-header -->
<section class="page-header">
  <h1 class="page-heading">
    <span class="en">Legal Notice</span>
    <span class="ja">特定商取引法に基づく表記</span>
  </h1>
</section>
<!-- END sections: page-header -->

<!-- BEGIN sections: legal-notice -->
<section class="sec-info sec-legal">
  <div class="s-inner">
    <div class="contents_wrapper">
      <dl>
        <div class="row_group">
          <dt>販売業者</dt>
          <dd>株式会社ZOOOM TRANSPORT</dd>
        </div>
        <div class="row_group">
          <dt>責任者名</dt>
          <dd>今西 将太朗</dd>
        </div>
        <div class="row_group">
          <dt>所在地</dt>
          <dd>〒574-0028 大阪府大東市幸町23-36</dd>
        </div>
        <div class="row_group">
          <dt>電話番号</dt>
          <dd>072-813-9913</dd>
        </div>
        <div class="row_group">
          <dt>メールアドレス</dt>
          <dd>info@l-browninc.com</dd>
        </div>
        <div class="row_group">
          <dt>商品以外の必要料金</dt>
          <dd>送料はご利用ガイドページに掲載いたします。<br>消費税はお客様ご負担となります。</dd>
        </div>
        <div class="row_group">
          <dt>返品ポリシー</dt>
          <dd>
            ご注文確定後のお客様都合によるキャンセル・返品・交換・ご注文内容の変更は、原則承っておりません。<br>
            商品の品質につきましては万全を期しておりますが、万が一、ご注文商品と異なる商品が届いた場合や、配送中などになんらかの不備が生じた場合は速やかに代替品などの手配を取らせていただきます。<br>
            ご注文商品と異なる商品や不良品をお届けした場合、商品到着後7日以内に下記メールアドレスまでご連絡いただきますようお願い申し上げます。<br>
            info@l-browninc.com
          </dd>
        </div>
        <div class="row_group">
          <dt>引渡時期</dt>
          <dd>ご注文から7営業日以内に発送いたします。</dd>
        </div>
        <div class="row_group">
          <dt>商品の販売価格</dt>
          <dd>商品ページをご参照ください。</dd>
        </div>
        <div class="row_group">
          <dt>代金の支払方法</dt>
          <dd>クレジットカード決済</dd>
        </div>
        <div class="row_group">
          <dt>代金の支払時期</dt>
          <dd>クレジットカード決済の場合はただちに処理されます。</dd>
        </div>
        <div class="row_group">
          <dt>キャンセル（返品・交換/返品特約）</dt>
          <dd>お客様都合での決済後のキャンセルは基本的にできません。</dd>
        </div>
      </dl>
    </div>
  </div>
</section>
<!-- END sections: legal-notice -->

<!-- BEGIN sections: breadcrumbs -->
<div class="breadcrumbs">
  <ol>
    <li>
      <a href="{{ routes.root_url }}">
        <span>home</span>
      </a>
    </li>
    <li>
      <span>特定商取引法に基づく表記</span>
    </li>
  </ol>
</div>
<!-- END sections: breadcrumbs -->