<!-- BEGIN sections: page-header -->
<section class="page-header">
  <h1 class="page-heading">
    <span class="en">Q&A</span>
    <span class="ja">よくあるご質問</span>
  </h1>
</section>
<!-- END sections: page-header -->

<!-- BEGIN sections: faq -->
<section class="sec-info sec-faq">
  <div class="s-inner">
    <div class="contents_wrapper">
      <!-- 商品について -->
      <div class="faq_list">
        <p class="category">
          商品について
        </p>
        <details class="faq_item js-details">
          <summary class="js-summary">
            <div class="summary_inner">
              <span class="q_text">賞味期限はどのくらいですか</span><span class="faq_icon"></span>
            </div>
          </summary>
          <div class="content js-content">
            <div class="content_inner">
              <div class="a_text">
                La Stick：製造日より30日程度<br>
                gelato SOLBELLA：賞味期限はございませんが、風味や食感を損なわないためにも購入から90日程度のお早めのお召し上がりをお勧めいたします。
              </div>
            </div>
          </div>
        </details>
        <details class="faq_item js-details">
          <summary class="js-summary">
            <div class="summary_inner">
              <span class="q_text">届いた商品に不備があったのですが、どうすればいいですか</span><span class="faq_icon"></span>
            </div>
          </summary>
          <div class="content js-content">
            <div class="content_inner">
              <div class="a_text">
                商品到着後1週間以内に、お問合せフォームにてご連絡をいただけますようお願い申し上げます。その際お手数ですが、①お名前、②お電話番号、③受注番号（「ご注文確認メール」に記載されております）をお知らせください。手続きの手順について、ご案内させていただきます。
              </div>
            </div>
          </div>
        </details>
        <details class="faq_item js-details">
          <summary class="js-summary">
            <div class="summary_inner">
              <span class="q_text">フルーツタルトはオンラインショップで購入できますか</span><span class="faq_icon"></span>
            </div>
          </summary>
          <div class="content js-content">
            <div class="content_inner">
              <div class="a_text">
                Hyde&Awayのタルトのオンラインショップでの販売はございません。お近くの店舗にてお買い求めください。
              </div>
            </div>
          </div>
        </details>
      </div>
      <!-- ご注文・お支払いについて -->
      <div class="faq_list">
        <p class="category">
          ご注文・お支払いについて
        </p>
        <details class="faq_item js-details">
          <summary class="js-summary">
            <div class="summary_inner">
              <span class="q_text">電話やFAXで注文できますか</span><span class="faq_icon"></span>
            </div>
          </summary>
          <div class="content js-content">
            <div class="content_inner">
              <div class="a_text">
                ご注文方法はインターネットからのご注文のみとなっております。お電話やFAX、メールでのご注文は承っておりませんのでご了承ください。
              </div>
            </div>
          </div>
        </details>
        <details class="faq_item js-details">
          <summary class="js-summary">
            <div class="summary_inner">
              <span class="q_text">ギフトラッピングはできますか</span><span class="faq_icon"></span>
            </div>
          </summary>
          <div class="content js-content">
            <div class="content_inner">
              <div class="a_text">
                ギフトラッピングは承っておりません。
              </div>
            </div>
          </div>
        </details>
        <details class="faq_item js-details">
          <summary class="js-summary">
            <div class="summary_inner">
              <span class="q_text">お支払い方法は何がありますか</span><span class="faq_icon"></span>
            </div>
          </summary>
          <div class="content js-content">
            <div class="content_inner">
              <div class="a_text">
                クレジットカードをご利用いただけます。
              </div>
            </div>
          </div>
        </details>
        <details class="faq_item js-details">
          <summary class="js-summary">
            <div class="summary_inner">
              <span class="q_text">注文内容のキャンセル・変更はできますか</span><span class="faq_icon"></span>
            </div>
          </summary>
          <div class="content js-content">
            <div class="content_inner">
              <div class="a_text">
                商品の発送前でしたら対応可能な場合もございます。一度、お問合せフォームよりご相談ください。<br>
                商品到着後のお客様のご都合による返品・交換は、原則としてお受けしておりません。<br>
                不良品の場合は、商品到着から１週間以内の申し出で返品対応いたします。
              </div>
            </div>
          </div>
        </details>
        <details class="faq_item js-details">
          <summary class="js-summary">
            <div class="summary_inner">
              <span class="q_text">購入数の上限はありますか</span><span class="faq_icon"></span>
            </div>
          </summary>
          <div class="content js-content">
            <div class="content_inner">
              <div class="a_text">
                1回のご注文につき、1商品あたりの購入可能数は20個までとなります。<br>
                21個以上のご注文をご希望の場合は、お問合せフォームまでお気軽にご相談ください。
              </div>
            </div>
          </div>
        </details>
        <details class="faq_item js-details">
          <summary class="js-summary">
            <div class="summary_inner">
              <span class="q_text">結婚式の引出物や企業の贈答品として、大口注文は可能ですか</span><span class="faq_icon"></span>
            </div>
          </summary>
          <div class="content js-content">
            <div class="content_inner">
              <div class="a_text">
                <p>
                  はい、大口注文を承っております。通常、1商品につき21個以上、または税込10万円以上のご注文が大口注文の対象となります。詳細につきましてはお問合せフォームまでお気軽にお問い合わせください。<br>
                  なお、在庫状況によっては納期にお時間をいただく場合がございます。具体的な納期については、ご注文時にご確認ください。
                </p>
                <p>
                  ご注文方法について<br>
                  大口注文をご希望の場合は、まず下記の内容をご記載の上、お問い合わせフォームよりご連絡ください。<br>
                  1. ご用途<br>
                  2. ご希望商品<br>
                  3. お届け希望日<br>
                  4. ご注文件数<br>
                  5. お届け先
                </p>
                <p>
                  熨斗・手提げ袋について<br>
                  現在、熨斗、リボン、手提げ袋のご用意はございませんので、予めご了承ください。
                </p>
                <p>
                  配送について<br>
                  送料は数量により変動いたします。
                </p>
                <p>
                  お支払いについて<br>
                  大口注文のお支払いにつきましては、以下の決済方法をご利用いただけます。<br>
                  ・クレジットカード決済（Visa、Mastercard、American Express、JCB）<br>
                  ・請求書発行
                </p>
              </div>
            </div>
          </div>
        </details>
        <details class="faq_item js-details">
          <summary class="js-summary">
            <div class="summary_inner">
              <span class="q_text">注文したのですが、注文確認のメールが届きません</span><span class="faq_icon"></span>
            </div>
          </summary>
          <div class="content js-content">
            <div class="content_inner">
              <div class="a_text">
                <p>
                  当社からのご注文受付メールは、お客様のご注文完了後、システムにより自動的に配信されます。ご注文いただいてから1日以上経っても確認メールが届かない場合は、下記の点をご確認ください。
                </p>
                <p>
                  ●ご注文時に登録いただきましたメールアドレスに誤り・変更はございませんか？<br>
                  ・特に@以降の間違いが多くございます。「@***.ne.jp」<br>
                  ・ハイフン「-」とアンダーバー「_ 」の入力にご注意ください。
                </p>
                <p>
                  ●受信拒否の設定をされていませんか？<br>
                  ・特にスマートフォンにおいて、受信先の設定をされている場合がございます。<br>
                  設定をご確認いただき、受信先を指定されている場合は、「info@l-browninc.com」からのメールを受信ドメインにご登録ください。
                </p>
              </div>
            </div>
          </div>
        </details>
        <details class="faq_item js-details">
          <summary class="js-summary">
            <div class="summary_inner">
              <span class="q_text">領収書を発行してもらえますか</span><span class="faq_icon"></span>
            </div>
          </summary>
          <div class="content js-content">
            <div class="content_inner">
              <div class="a_text">
                領収書が必要な方は、ご注文時にその旨をお知らせください。別途メールにて送付させていただきます。商品への同梱や郵送はお受け致しかねます。
              </div>
            </div>
          </div>
        </details>
      </div>
      <!-- 配送・返品について -->
      <div class="faq_list">
        <p class="category">
          配送・返品について
        </p>
        <details class="faq_item js-details">
          <summary class="js-summary">
            <div class="summary_inner">
              <span class="q_text">商品はいつ届きますか</span><span class="faq_icon"></span>
            </div>
          </summary>
          <div class="content js-content">
            <div class="content_inner">
              <div class="a_text">
                配送指定のない場合、注文日から７営業日以内に発送させて頂きます。
              </div>
            </div>
          </div>
        </details>
        <details class="faq_item js-details">
          <summary class="js-summary">
            <div class="summary_inner">
              <span class="q_text">配送できない地域はありますか</span><span class="faq_icon"></span>
            </div>
          </summary>
          <div class="content js-content">
            <div class="content_inner">
              <div class="a_text">
                沖縄県、離島など一部配送を承っていない地域がございます。<br>
                また、 配送会社によりお届け不可と判断された地域へのご注文は、売買契約成立後であってもご注文をキャンセルさせていただく場合があります。この場合、キャンセル手続きをさせていただき、商品の代金・配送料は返金いたします。<br>
                該当する可能性がある場合は、大変お手数ですが事前にお問い合わせ下さい。
              </div>
            </div>
          </div>
        </details>
        <details class="faq_item js-details">
          <summary class="js-summary">
            <div class="summary_inner">
              <span class="q_text">商品到着日時の指定はできますか</span><span class="faq_icon"></span>
            </div>
          </summary>
          <div class="content js-content">
            <div class="content_inner">
              <div class="a_text">
                お届け日は、ご注文日の7日以降よりご希望の日時をお選びいただけます。 お届け日を指定しない場合は、ご注文・決済完了後、土日祝日を除く5営業日以内に発送いたします。
              </div>
            </div>
          </div>
        </details>
        <details class="faq_item js-details">
          <summary class="js-summary">
            <div class="summary_inner">
              <span class="q_text">配送料はいくらですか</span><span class="faq_icon"></span>
            </div>
          </summary>
          <div class="content js-content">
            <div class="content_inner">
              <div class="a_text">
                <p>
                  ●常温の場合<br>
                  北海道・東北地方・沖縄　1,500円　<br>
                  信越・北陸・関東・東海・近畿・四国・中国・九州　1,000円<br>
                  ※１回のご注文金額が商品代金5,000円（税込）以上の場合、全国無料配送になります。
                </p>
                <p>
                  ●冷凍の場合<br>
                  北海道・東北地方・沖縄　1,800円　<br>
                  信越・北陸・関東・東海・近畿・四国・中国・九州　1,300円<br>
                  ※１回のご注文金額が商品代金5,000円（税込）以上の場合、全国無料配送になります。
                </p>
              </div>
            </div>
          </div>
        </details>
        <details class="faq_item js-details">
          <summary class="js-summary">
            <div class="summary_inner">
              <span class="q_text">複数の商品を同梱配送できますか</span><span class="faq_icon"></span>
            </div>
          </summary>
          <div class="content js-content">
            <div class="content_inner">
              <div class="a_text">
                1度のご注文につき、複数の商品を同梱してお届けすることができます。
                別々にご注文いただいた商品を1つにまとめてお届けすることはできませんので、あらかじめご了承ください。
              </div>
            </div>
          </div>
        </details>
        <details class="faq_item js-details">
          <summary class="js-summary">
            <div class="summary_inner">
              <span class="q_text">海外へ発送してもらえますか</span><span class="faq_icon"></span>
            </div>
          </summary>
          <div class="content js-content">
            <div class="content_inner">
              <div class="a_text">
                申し訳ございません。現在海外発送はおこなっておりません。
              </div>
            </div>
          </div>
        </details>
        <details class="faq_item js-details">
          <summary class="js-summary">
            <div class="summary_inner">
              <span class="q_text">商品を複数の届け先に分けて発送できますか</span><span class="faq_icon"></span>
            </div>
          </summary>
          <div class="content js-content">
            <div class="content_inner">
              <div class="a_text">
                オンラインストアのシステムの都合上、1回のご注文につき、お届け先は1か所のご指定とさせていただいております。お手数ですが、複数のお届け先への発送をご希望の場合は、新たにご注文くださいますようお願いいたします。
              </div>
            </div>
          </div>
        </details>
        <details class="faq_item js-details">
          <summary class="js-summary">
            <div class="summary_inner">
              <span class="q_text">返品・交換はできますか</span><span class="faq_icon"></span>
            </div>
          </summary>
          <div class="content js-content">
            <div class="content_inner">
              <div class="a_text">
                商品到着後のお客様のご都合による返品・交換は、原則としてお受けしておりません。<br>
                不良品の場合は、商品到着から1週間以内の申し出で返品対応いたします。
              </div>
            </div>
          </div>
        </details>
        <details class="faq_item js-details">
          <summary class="js-summary">
            <div class="summary_inner">
              <span class="q_text">ギフトなので価格が分からないようにしてもらえますか</span><span class="faq_icon"></span>
            </div>
          </summary>
          <div class="content js-content">
            <div class="content_inner">
              <div class="a_text">
                商品の価格が分かるような明細は同梱せずにお届けしております。ご安心ください。
              </div>
            </div>
          </div>
        </details>
      </div>
      <!-- オンラインショップについて -->
      <div class="faq_list">
        <p class="category">
          オンラインショップについて
        </p>
        {% comment %} <details class="faq_item js-details">
          <summary class="js-summary">
            <div class="summary_inner">
              <span class="q_text">ログインパスワードを忘れてしまったらどうすればよいですか</span><span class="faq_icon"></span>
            </div>
          </summary>
          <div class="content js-content">
            <div class="content_inner">
              <div class="a_text">
                ログイン画面にてパスワード入力欄の下にある「パスワードをお忘れですか?」をクリックしていただくと、パスワードのリセットができます。
              </div>
            </div>
          </div>
        </details> {% endcomment %}
        <details class="faq_item js-details">
          <summary class="js-summary">
            <div class="summary_inner">
              <span class="q_text">アカウント登録情報の変更はできますか</span><span class="faq_icon"></span>
            </div>
          </summary>
          <div class="content js-content">
            <div class="content_inner">
              <div class="a_text">
                マイページの「プロフィール」から変更いただけます。すでにご注文が確定しているものには反映されませんのでご注意ください。<br>
                注文確定後の変更は、配送業者へご連絡をお願いいたします。
              </div>
            </div>
          </div>
        </details>
        <details class="faq_item js-details">
          <summary class="js-summary">
            <div class="summary_inner">
              <span class="q_text">アカウント登録しなくても商品の注文はできますか</span><span class="faq_icon"></span>
            </div>
          </summary>
          <div class="content js-content">
            <div class="content_inner">
              <div class="a_text">
                はい。アカウント登録せずにご注文いただけます。
              </div>
            </div>
          </div>
        </details>
        <details class="faq_item js-details">
          <summary class="js-summary">
            <div class="summary_inner">
              <span class="q_text">アカウントを削除するにはどうすればよいですか</span><span class="faq_icon"></span>
            </div>
          </summary>
          <div class="content js-content">
            <div class="content_inner">
              <div class="a_text">
                会員登録したアカウントの完全削除をご希望の場合は、お手数ですが<a href="/pages/contact-form/">お問い合わせフォーム</a>までご連絡ください。
              </div>
            </div>
          </div>
        </details>
      </div>
    </div>
  </div>
</section>
<!-- END sections: faq -->

<!-- BEGIN sections: breadcrumbs -->
<div class="breadcrumbs">
  <ol>
    <li>
      <a href="{{ routes.root_url }}">
        <span>home</span>
      </a>
    </li>
    <li>
      <span>よくあるご質問</span>
    </li>
  </ol>
</div>
<!-- END sections: breadcrumbs -->