<!-- BEGIN sections: page-header -->
<section class="page-header">
  <h1 class="page-heading">
    <span class="en">Contact</span>
    <span class="ja">お問い合わせ</span>
  </h1>
</section>
<!-- END sections: page-header -->

<!-- BEGIN sections: contact -->
<section class="sec-contact">
  <div class="s-inner">
    <div class="contents_wrapper">
      <p class="form_text">
        商品や注文に関するご不明点などがございましたら、以下のメールフォームよりお問い合わせください。<br class="u-pc">
        後日担当者よりご連絡いたします。<br>
        また、お問い合わせの前に一度<a href="/pages/faq/">よくあるご質問</a>ページをご確認ください。<br>
        大口注文のご相談もお気軽にご連絡ください。
      </p>
      {% section 'contact-form' %}
    </div>
  </div>
</section>
<!-- END sections: contact -->

<!-- BEGIN sections: breadcrumbs -->
<div class="breadcrumbs">
  <ol>
    <li>
      <a href="{{ routes.root_url }}">
        <span>home</span>
      </a>
    </li>
    <li>
      <span>お問い合わせ</span>
    </li>
  </ol>
</div>
<!-- END sections: breadcrumbs -->