<!-- BEGIN sections: kv -->
<section class="sec-kv">
  <div class="container">
    <div class="image fadeIn" data-delay="200">
      <img src="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/ha_kv.png" alt="">
    </div>
    <div class="text">
      <div class="logo fadeIn" data-delay="400">
        <img src="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/logo_ha_w.svg" alt="">
      </div>
      <p class="heading fadeIn" data-delay="600">
        色とりどりの国産フルーツを<br>楽しむ”ハコタルト”
      </p>
      <p class="box fadeIn" data-delay="600">
        Hyde&Awayの各店舗にて販売中
      </p>
      <p class="caution fadeIn" data-delay="600">
        Hyde&Away（タルト）のオンラインショップでのお取り扱いはございません。<br class="u-pc">お近くの店舗でお買い求めください。
      </p>
    </div>
  </div>
</section>
<!-- END sections: kv -->

<!-- BEGIN sections: concept -->
<section class="sec-concept">
  <div class="l-inner">
    <div class="flex_wrap">
      <div class="text">
        <h2 class="sec_heading">
          Concept
        </h2>
        <p>
          Hyde&Awayは2022年11月に京都・北野から始まりました。
        </p>
        <p>
          店内には世界各地から集めたアンティーク家具を取りそろえ、ヨーロピアンクラシックの優雅な雰囲気のなかで、日常を離れた贅沢なひとときをお過ごしいただけます。
        </p>
        <p>
          選りすぐりの国産フルーツを贅沢に使用した彩り豊かなタルトと香り高いコーヒーで、ゆったりとした特別な時間を。大切なあなただけの隠れ家としてこころ温まるおもてなしでお迎えいたします。
        </p>
      </div>
      <div class="image">
        <img src="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/ha_concept_img.jpg" alt="">
      </div>
    </div>
  </div>
</section>
<!-- END sections: concept -->

<!-- BEGIN parts: slider -->
<div class="swiper ha_slider">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/ha_slide_img_01.jpg" alt="" />
    </div>
    <div class="swiper-slide">
      <img src="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/ha_slide_img_02.jpg" alt="" />
    </div>
    <div class="swiper-slide">
      <img src="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/ha_slide_img_03.jpg" alt="" />
    </div>
    <div class="swiper-slide">
      <img src="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/ha_slide_img_04.jpg" alt="" />
    </div>
    <div class="swiper-slide">
      <img src="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/ha_slide_img_05.jpg" alt="" />
    </div>
    <div class="swiper-slide">
      <img src="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/ha_slide_img_06.jpg" alt="" />
    </div>
    <div class="swiper-slide">
      <img src="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/ha_slide_img_01.jpg" alt="" />
    </div>
    <div class="swiper-slide">
      <img src="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/ha_slide_img_02.jpg" alt="" />
    </div>
    <div class="swiper-slide">
      <img src="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/ha_slide_img_03.jpg" alt="" />
    </div>
    <div class="swiper-slide">
      <img src="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/ha_slide_img_04.jpg" alt="" />
    </div>
    <div class="swiper-slide">
      <img src="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/ha_slide_img_05.jpg" alt="" />
    </div>
    <div class="swiper-slide">
      <img src="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/ha_slide_img_06.jpg" alt="" />
    </div>
  </div>
</div>
<!-- END sections: slider -->

<!-- BEGIN sections: commitment -->
<section class="sec-commitment">
  <h2 class="sec-heading">
    Commitment
  </h2>
  <div class="l-inner">
    <div class="container">
      <div class="text">
        <h3>
          <span class="sub">Domestic Fresh Fruits</span>
          <span class="content-heading">こだわりの国産フルーツ</span>
        </h3>
        <p>
          タルトに使用するフルーツは、新鮮な国産フルーツを贅沢に使用しています。豊かな味わいとビタミンたっぷりのフルーツで、お客様に最高の味わいを提供しています。
        </p>
      </div>
      <div class="image">
        <img src="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/ha_commitment_img_01.jpg" alt="">
      </div>
    </div>
    <div class="container reverse">
      <div class="text">
        <h3>
          <span class="sub">Organic Wheat</span>
          <span class="content-heading">有機国産小麦を使用</span>
        </h3>
        <p>
          タルト生地には有機国産小麦を使用しています。豊かな風味と栄養素で、お客様に健康的でおいしいタルトを提供しています。
        </p>
      </div>
      <div class="image">
        <img src="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/ha_commitment_img_02.jpg" alt="">
      </div>
    </div>
    <div class="container">
      <div class="text">
        <h3>
          <span class="sub">Reducing Food Waste</span>
          <span class="content-heading">フードロス削減への取り組み</span>
        </h3>
        <p>
          フードロス削減の取り組みとして、日々の製造数を最小限にしており、また、不揃いフルーツをフラッペに使用するなど、廃棄を抑えております。
        </p>
      </div>
      <div class="image">
        <img src="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/ha_commitment_img_03.jpg" alt="">
      </div>
    </div>
  </div>
</section>
<!-- END sections: commitment -->

{% section 'other-brands_bp01' %}

<!-- BEGIN sections: breadcrumbs -->
<div class="breadcrumbs">
  <ol>
    <li>
      <a href="{{ routes.root_url }}">
        <span>home</span>
      </a>
    </li>
    <li>
      <span>Hyde&Away</span>
    </li>
  </ol>
</div>
<!-- END sections: breadcrumbs -->
