<!-- BEGIN sections: page-header -->
<section class="page-header">
  <h1 class="page-heading">
    <span class="en">Company</span>
    <span class="ja">会社概要</span>
  </h1>
</section>
<!-- END sections: page-header -->

<!-- BEGIN sections: company -->
<section class="sec-info sec-company">
  <div class="s-inner">
    <div class="contents_wrapper">
      <dl>
        <div class="row_group">
          <dt>会社名</dt>
          <dd>株式会社ZOOOM TRANSPORT</dd>
        </div>
        <div class="row_group">
          <dt>代表者名</dt>
          <dd>今西 将太朗</dd>
        </div>
        <div class="row_group">
          <dt>所在地</dt>
          <dd>〒574-0028 大阪府大東市幸町23-36</dd>
        </div>
        <div class="row_group">
          <dt>電話番号</dt>
          <dd>072-813-9913</dd>
        </div>
        <div class="row_group">
          <dt>メールアドレス</dt>
          <dd>info@l-browninc.com</dd>
        </div>
      </dl>
    </div>
  </div>
</section>
<!-- END sections: company -->

<!-- BEGIN sections: breadcrumbs -->
<div class="breadcrumbs">
  <ol>
    <li>
      <a href="{{ routes.root_url }}">
        <span>home</span>
      </a>
    </li>
    <li>
      <span>会社概要</span>
    </li>
  </ol>
</div>
<!-- END sections: breadcrumbs -->