<!-- BEGIN sections: guide_payment -->
  <section class="sec-guide" id="payment">
    <h2>
      お支払い方法について
    </h2>
    <div class="row_group">
      <h3>
        [ クレジットカード ]
      </h3>
      <p>
        以下のクレジットカードをご利用いただけます。<br>
        VISA / Master Card / JCB / American Express
      </p>
      <ul class="caution_list">
        <li>
          当カード決済システム上、クレジットカード利用控は発行しておりません。カード会社から送付されますご利用明細をご確認ください。
        </li>
        <li>
          お客様のご利用状態等によっては、オンラインショップがご利用いただけない場合がございます。
        </li>
        <li>
          ご注文の際にお客様の本人確認（電話確認等）をお願いする場合もございます。
        </li>
      </ul>
    </div>
  </section>
  <!-- END sections: guide_payment -->

  <!-- BEGIN sections: guide_delivery -->
  <section class="sec-guide" id="delivery">
    <h2>
      送料・配送について
    </h2>
    <div class="row_group">
      <h3>
        [ 送料について ]
      </h3>
      <p>
        ●常温の場合<br>
        北海道・東北地方・沖縄　1,500円　<br>
        信越・北陸・関東・東海・近畿・四国・中国・九州　1,000円<br>
        ※１回のご注文金額が商品代金5,000円（税込）以上の場合、全国無料配送になります。
      </p>
      <p>
        ●冷凍の場合<br>
        北海道・東北地方・沖縄　1,800円　<br>
        信越・北陸・関東・東海・近畿・四国・中国・九州　1,300円<br>
        ※１回のご注文金額が商品代金5,000円（税込）以上の場合、全国無料配送になります。
      </p>
    </div>
    <div class="row_group">
      <h3>
        [ 配送について ]
      </h3>
      <p>
        お届け日は、ご注文日の7日以降よりご希望の日時をお選びいただけます。 お届け日を指定しない場合は、ご注文・決済完了後、土日祝を除く当日～5営業日以内に発送いたします。（北海道及び一部離島に関してはご対応致しかねる場合がございます）
      </p>
    </div>
    <div class="row_group">
      <h3>
        [ 納品書・領収書について ]
      </h3>
      <p>
        納品書、請求書など金額の分かるものは同梱いたしません。<br>
        領収書が必要な方は、ご注文時にその旨をお知らせください。別途メールにて送付させていただきます。商品への同梱や郵送はお受け致しかねます。
      </p>
    </div>
  </section>
  <!-- END sections: guide_delivery -->

  <!-- BEGIN sections: guide_gift -->
  <!-- ギフトについては非表示だが消さずに残しておく -->
  <!-- <section class="sec-guide" id="gift">
    <h2>
      ギフトサービスについて
    </h2>
    <div class="row_group">
      <p>
        <a href="gift.html">ギフトについて</a>のページをご確認ください。
      </p>
    </div>
  </section> -->
  <!-- END sections: guide_gift -->

  <!-- BEGIN sections: guide_cancel-policy -->
  <section class="sec-guide" id="cancel-policy">
    <h2>
      返品・交換について
    </h2>
    <div class="row_group">
      <p>
        商品の性質上、お客様のご都合による返品・交換は、原則としてお受けしておりません。<br>
        商品・配送には万全を期しておりますが、不良品・誤送・商品の破損・傷みなどの品質上の問題があった場合に限り、商品の返品を承ります。商品到着から7日間以内に<a href="/pages/contact-form/">お問い合わせフォーム</a>よりご連絡ください。ご連絡いただきましたら、当店よりご返送方法のご連絡をさせていただき、すぐに返品をさせていただきます。<br>
        返送の送料・手数料は全て当店が負担いたします。
      </p>
    </div>
  </section>
  <!-- END sections: guide_cancel-policy -->

  <!-- BEGIN sections: guide_link -->
  <div class="sec-guide guide_link">
    <div class="row_group">
      <p>
        その他、ご不明な点などございましたら、<br>
        <a href="/pages/faq/">よくあるご質問</a>をご確認いただくか<a href="/pages/contact/">お問い合わせフォーム</a>よりお問い合わせください。
      </p>
      <div class="flex_wrap">
        <div class="link_btn">
          <a href="/pages/faq/">
            <span>よくあるご質問</span>
            <img src="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/icon_arrow_w.svg" alt="">
          </a>
        </div>
        <div class="link_btn">
          <a href="/pages/contact/">
            <span>お問い合わせフォーム</span>
            <img src="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/icon_arrow_w.svg" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- END sections: guide_link -->